// loader
$loader-small:9px;
$loader-medium:13px;
$loader-large:48px;
$loader-xl:72px;

.l {
  display: inline-block;
  margin: -7px -7px 7px;
  position: relative;
  top: 50%;
  left: 50%;
  width: $loader-medium;
  height: $loader-medium;
  padding: 0;
  border: 3px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  color: $primary;
  background-color: transparent;
  animation: animationRotate 0.9s linear infinite;
  &.hidden {
    visibility:hidden;
  }
  &.small {
    margin: -6px -6px 6px;
    border-width: 2px;
    width: $loader-small;
    height: $loader-small;
  }
  &.medium {
  }
  &.large {
    border-width: 5px;
    width: $loader-large;
    height: $loader-large;
    margin: -24px -24px 24px;
  }
  &.xl {
    border-width: 6px;
    width: $loader-xl;
    height: $loader-xl;
    margin: -36px -36px 36px;
  }
  &.top {
    top:0 !important;
    margin-top:0;
  }
  &.left {
    left:0 !important;
    margin-left:0;
  }
  &.right {
    left:100% !important;
    margin-left: (-$loader-medium);
    &.small {
      margin-left: (-$loader-small);
    }
    &.large {
      margin-left: (-$loader-large);
    }
    &.xl {
      margin-left: (-$loader-xl);
    }
  }
  &.bottom {
    top:calc(100% - #{$loader-medium}) !important;
    margin-top:0;
    &.small {
      top:calc(100% - #{$loader-small}) !important;
    }
    &.large {
      top:calc(100% - #{$loader-large}) !important;
    }
    &.xl {
      top:calc(100% - #{$loader-xl}) !important;
    }
  }
  &.inline {
    margin:0;
    vertical-align:middle;
    top:auto !important;
    left:auto !important;
  }
}

.isFetching {
  .loading-element {
    // margin: 4px;
    text-indent: -9999px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    // background: rgba(0, 0, 0, 0.3);
    // background: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0.07) 8%,
    //   rgba(0, 0, 0, 0.12) 18%,
    //   rgba(0, 0, 0, 0.07) 33%
    // );
    background: darken(white, 12%);
    background: linear-gradient(
      to right,
      darken(white, 0%) 8%,
      darken(white, 7%) 18%,
      darken(white, 0%) 33%
    );
    opacity: .7;
    background-size: 800px 104px;
    // height: 96px;
    position: relative;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
