@use "sass:math";

html {
  height: 100%;
}

body , #root, #root > div {
  min-height: 100%;
}

#main .container {
  height:100%;
}

.hero.is-fullheight-with-navbar {
  height:calc(100% - 3.25rem);
}


body {
  background-size: cover;
  background-image:url(#{$ASSETS-PATH}/Client_Artwork_11.40.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
  opacity: 1;
}


body,
button,
input,
select,
textarea {
  font-family: 'Muli', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 0 0 8px 0;
  color:$dark;
}

h1 {
  font-size: 27px;
  letter-spacing: -0.4px;
}

h3 {
  margin: 0 0 4px 0;
  font-size: 13px;
}

#header {
  box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);
  // background-color:rgba(255,255,255, 0.95);
}

#main {
  color:#333;
  background-color:rgba(255,255,255, math.div($bg-overlay-percentage, 100));
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQAMrVqz4z4gsBhKIiIhghAvCBECKwILIAmBBdAGQIACxNBL9T1X/ZQAAAABJRU5ErkJggg==);
  background-attachment:fixed;
  background-repeat:repeat;
  padding:1.6rem 0;
}


.worldSelect {
  min-width:210px !important;
  margin-right:12px;
  &__menu-list {
    max-height:calc(100vh - 80px) !important;
  }
}

.rashid-holder {
  display:block;
  position:relative;
  margin-right:12px;
  user-select:none;
  cursor:help;
  img {
    display:block;
    height: 38px;
  }
}


// Page specific:
//Share Party:
#share-party {
  height:100%;
  .minmaxlabel {
    opacity:.5;
    padding-right:4px;
    font-size:11px;
  }
  .player-list {
    margin:-6px;
  }
  .player-container {
    display: inline-block;
    width: math.div(100%, 3);
    padding-bottom:12px;
    .image {
      margin-top:-4px;
    }
    .player-box {
      padding:12px;
      cursor:pointer;
    }
    .content {
      overflow:hidden;
    }
    .player-title {
      margin-top:-1px;
    }
    .player-meta {
      margin-top:2px;
    }
    .media-right {
      align-self:center;
    }
    padding:6px;
  }
  .areyou-container {
    .question {
      margin-right:6px;
      font-size:12px;
    }
    ul {
      display:inline-block;
      margin:-4px;
    }
    li {
      display:inline-block;
      margin:4px;
    }
  }
  .menu-list a {
    display:table;
    width:100%;
    > * {
      display:table-cell;
      vertical-align: middle;
      &:last-child {
        width:1px;
      }
    }
    &.is-active {
      color:white !important;
    }
  }
  .media-content {
    line-height:1;
  }
  .no-matching {
    height: 224px;
    margin: 6px 6px 6px 0;
  }
}


.vocation-list {
  .button {
    width:160px;
  }
  &.has-addons .button:not(:last-child) {
    margin-right:1px;
  }
}
.loading-paused {
  animation: animationRotate 0.9s linear infinite;
  animation-play-state: paused;
}
.loading-refresh {
  animation-play-state: running !important;
  position:relative;
  color:$green;
  &:after {
    content:"";
    position: absolute;
    border:2px solid transparentize($green, 0.5);
    opacity:0;
    border-radius: 50%;
    width:100%;
    height:100%;
    animation: sonar 1s infinite;
    top:0;
    left:0;
  }
}

.footer-date-notification {
  opacity:.3;
  // text-align: right;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.no-world-holder {
  height:calc(100vh - 6.6rem);
  width:calc(100% - 230px);
  position:relative;
  &:hover .right-arrow-world {
    opacity:1;
    right:24px;
  }
  .right-arrow-world {
    position: absolute;
    right: 48px;
    top: calc(50% - 30px);
    font-size:60px;
    transition:opacity .2s ease-out, right .2s ease-out;
    opacity:0;
  }
}

//
// Helpers:

.is-hidden {
  display:none !important;
}

.has-semi-transparent-bg {
  background:rgba(0,0,0,0.2);
  color:white;
  &::placeholder {
    color:white;
  }
}

.is-sticky {
  position:sticky;
  top:12px;
}

.has-dark-border {
  border:1px solid #363636;
}

.uppercase {
  text-transform:uppercase;
}

.rSelect {
  min-width:100px;
}

.pointer {
  cursor: pointer;
}


.select-none {
  user-select: none;
}


.box {
  transition: all .4s ease;
  border-radius:$radius !important;
}

.player-box.is-selected {
  &, &:hover {
    background-color:$dark;
    color:white;
  }
}

.player-box.is-selected-me {
  &, &:hover {
    background-color:$yellow;
    color:rgba(0,0,0,.7);
  }
}

.player-box.is-inactive {
  opacity:.3;
  cursor:default !important;
  user-select:none;
  .media-right {
    visibility:hidden;
  }
}

.player-box:hover {
  background-color: #f9f9f9;
}

.player-hidden {
  opacity: .4;
}

.player-selected {
  background-color: #f9f9f9 !important;
}

.color-green {
  color: green;
}


//Inline errors:
.inline-error {
  text-align:center;
  width:80%;
  margin:0 auto;
  color:$dark;
  i.icon {
    font-size:40px;
    // margin-bottom:12px;
    display:inline;
  }
  &.middle {
    @include verticalMiddleParent();
    height:100%;
  }
}



// TEMPORARY HEADER RESPONSIVNESS
.navbar-menu {
  display:flex !important;
}

@media screen and (max-width: 1087px) {
  #header {
    align-items: stretch;
    display: flex;
    > .container {
      display: flex !important;
    }
  }
  .navbar-end {
    margin-left:auto;
  }
  .navbar-burger {
    margin-left:inherit;
  }
  .navbar-menu {
    padding:0;
    box-shadow:none;
    width:100%;
    // flex-grow: 1;
    // flex-shrink: 0;
    .navbar-start {
      display:none;
      min-width:80%;
    }
    .navbar-end {
      display:flex;
    }
    &.is-active {
      .navbar-start {
        display:block;
      }
      .navbar-end {
        display:none !important;
      }
      .navbar-burger {
        margin-left:auto;
      }
    }
  }
}

.hero.is-link .title {
  color:#333;
}

.refresh-holder {
  display:inline-block;
  font-size:16px;
  width:0;
  vertical-align:4px;
  opacity:.3;
  color:#264400;
  &.can-refresh {
    opacity:1;
    cursor:pointer;
  }
  > * {
    padding-left:4px;
  }

}

#levelInput {
  text-align:center;
  min-width:100px;
  padding-left:4px;
  padding-right:4px;
}

.heading-blue {
  font-weight:bold;
  color:#3273dc;
}

.input-blue {
  background:transparentize(#3273dc, 0.9);
}