@mixin verticalMiddleParent() {
  @include verticalMiddleHack();
  > * {
    display:inline-block;
    vertical-align:middle;
  }
}

@function getPercentage($another-number){
  @return 1/$another-number*100%;
}

@mixin verticalMiddleHack() {
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin popover-shadow() {
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
}

@mixin fontAwesome($content, $fa-type: "fas", $fontsize: 16px, $color: $dark) {
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: $content;
    font-size:$fontsize;
    @if ($fa-type == "fas") {
      font-weight: 900;
    } @else if ($fa-type == "far" or $fa-type == "fab") {
      font-weight: 400;
    } @else {
      font-weight: 300;
    }
    color:$color;
  }
}