$blue:#3273dc;
$primary:$blue;
$orange:orange;
$red:red;
$font-material:"Tahoma";
$radius:2px;
$green:green;
$yellow:#ffdd57;
$dark:#363636;

$ASSETS-PATH:"sass/assets";
//  background-image:url(#{$ASSETS-PATH}/test2.png);

$bg-overlay-percentage: 82;