.#{$rt-namespace}__close-button {
  color: transparent;
  // font-weight: bold;
  font-size: 0;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  align-self: flex-start;
  position:relative;
  // &--default {
  //   color: #000;
  //   opacity: 0.3;
  // }

  &:hover, &:focus {
    opacity: 1;
  }
  @include fontAwesome("\f00d", "fas", 16px);

}
