@keyframes #{$rt-namespace}__trackProgress {
  0%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(0);
  }
}

.#{$rt-namespace}__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  top:0;
  width: $toast-left-padding;
  height: 100%;
  z-index: $rt-z-index - 1;
  opacity: 0.7;
  background-color: rgba(0,0,0,.12);
  transform-origin: bottom;

  &--animated {
    animation: #{$rt-namespace}__trackProgress linear 1 forwards;
  }

  &--controlled {
    transition: transform .2s;
  }

  &--rtl {
    right: 0;
    left: initial;
    transform-origin: right;
  }
  &--default{
    background-color: transparentize($primary, 0.8);
    width:4px;
  }

  &--info{
    // background-color:transparentize(#000, 0.8);
  }
  &--success{}
  &--warning{}
  &--error{}
}
