.#{$rt-namespace}__toast {
    &:after {
        // font-family:$font-material;
        // content:" ";
        content:" ";
        // color:white;
        // font-size:2rem;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        display:inline-block;
        // height:100%;
        width:$toast-left-padding;
        // background:$primary;
    }
    @include fontAwesome(" ", "fas", 18px, white);
    &:before {
        display:inline-block;
        position:absolute;
        left:0;
        text-align:center;
        width:$toast-left-padding;
        top:8px;
        z-index:$rt-z-index + 1;
    }
    position: relative;
    min-height: $rt-toast-min-height;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 12px 12px;
    padding-left:$toast-left-padding + 12px;
    border-radius: 4px;
    // box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
    @include popover-shadow();
    display: flex;
    justify-content: space-between;
    max-height: $rt-toast-max-height;
    overflow: hidden;
    font-family: $rt-font-family;
    cursor: pointer;
    direction: ltr;
    background:white;
    color:$dark;
    p {
        font-size:12px;
        line-height:1.4;
        letter-spacing:0.02rem;
        a {
            font-weight:600;
        }
    }
    &--rtl {
        direction: rtl;
    }
    &--default {
        // background: $rt-color-default;
        // color: #aaa;
        padding:1.2rem;
        &:before, &:after {
            display:none;
        }
    }
    &--info {
        &:after { 
            background:$rt-color-info;
        }
        &:before {
            content:"\f05a";
        }
    }
    &--success {
        &:after { 
            background:$rt-color-success;
        }
        &:before {
            content:"\f05a"; //TODO
        }
    }
    &--warning {
        &:after { 
            background:$rt-color-warning;
        }
        &:before {
            content:"\f05a"; //TODO
        }
    }
    &--error {
        &:after { 
            background:$rt-color-error;
        }
        &:before {
            content:"\f05a"; //TODO
        }
    }
    &-body {
        margin: auto 0;
        flex: 1;
    }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast{
    margin-bottom: 0;  
  }
}