$rt-namespace: 'Toastify';
$rt-toast-width: 360px !default;
$rt-toast-background: #ffffff !default;
$toast-left-padding:40px;
$rt-toast-min-height: $toast-left-padding !default;
$rt-toast-max-height: 800px !default;


$rt-color-default: #fff !default;
$rt-color-info: $blue !default;
$rt-color-success: $green !default;
$rt-color-warning: $orange !default;
$rt-color-error: $red !default;

$rt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;

$rt-mobile: "only screen and (max-width : 480px)" !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 30 !default;

